In [1]:
#file = open('<file_name>', '<mode>')
#file.close()
#with open('<file_name>','<mode>') as file:
 #   <operation>

In [2]:
#mode
#r- read
#a - append
#x - create
#w - write

In [4]:
try:
    file =open('new_file.txt', 'x')
    file.close()
except:
    print("the file is already there!")

the file is already there!

In [11]:
try:
    file =open('new_file.txt', 'r')
    x = file.read()
    print(x)
    file.close()
except:
    print("the file is already there!")

1.hi i am maya.
2.how are you doing.
3.is everything ok.

In [12]:
x.split('\n')#convert into list

['1.hi i am maya.', '2.how are you doing.', '3.is everything ok.', '']

In [13]:
#write(it will override the value)
#with open('data.txt', 'w') as file:
 #   file.write('hello world, i am python!')

In [15]:
#with open('data.txt', 'a') as file:
   # file.write('hello world, i am python')

In [1]:
info = str()
n = int(input("Enter n = "))
for i in range(n):
    name =input("Enter product name = ")
    price =int(input("Enter price = "))
    quantity =int(input("Enter quantity = "))
    total = price*quantity
    info = info +f"{name} {price} {quantity} {total}\n"
print(info)

with open('data.txt', 'a') as file:
    file.write(info)

Enter n = 2
Enter product name = apple
Enter price = 50
Enter quantity = 2
Enter product name = banana
Enter price = 60
Enter quantity = 2
apple 50 2 100
banana 60 2 120

In [6]:
with open('data.txt', 'r') as file:
    x = file.read()
    print(x)

hello world, i am pythonhello world, i am python!hello world, i am pythonapple 30 2 60
banana 40 3 120
apple 50 2 100
banana 60 2 120

In [7]:
data = x.split('\n')[0:-1]
data

['hello world, i am pythonhello world, i am python!hello world, i am pythonapple 30 2 60',
 'banana 40 3 120',
 'apple 50 2 100',
 'banana 60 2 120']

In [8]:
new_data = []
for i in data:
    split_data = i.split()
    new_data.append(split_data)
new_data

[['hello',
  'world,',
  'i',
  'am',
  'pythonhello',
  'world,',
  'i',
  'am',
  'python!hello',
  'world,',
  'i',
  'am',
  'pythonapple',
  '30',
  '2',
  '60'],
 ['banana', '40', '3', '120'],
 ['apple', '50', '2', '100'],
 ['banana', '60', '2', '120']]

In [14]:
all_total = 0
for cal in new_data:
    all_total = all_total + int(cal[3])
all_total

ValueError: invalid literal for int() with base 10: 'am'