In [2]:
a = []
a.append("Apple")
a.append("Ball")
a

['Apple', 'Ball']

In [3]:
a =['apple', 'ball', 'cat', 'dog']
a.insert(2,"cat")
a

['apple', 'ball', 'cat', 'cat', 'dog']

In [4]:
a =['apple', 'ball', 'cat', 'dog']
a.extend([2, 2, 3, 4, 5])
a

['apple', 'ball', 'cat', 'dog', 2, 2, 3, 4, 5]

In [5]:
# reading
a =['apple', 'ball', 'cat', 'dog']
for i in a:
    print(i)

apple
ball
cat
dog

In [6]:
a =[]
n = int (input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a.append(x)
    
print(a)

Enter n = 2
Enter x = 4
Enter x = 4
[4, 4]

In [7]:
#update
a = ['apple', 'ball', 'cat', 'dog']
a[0:2] = ('Apple', 'Ball')
a

['Apple', 'Ball', 'cat', 'dog']

In [9]:
#del remove()
a =['apple', 'ball', 'cat', 'dog']
del a[0]
print(a)

['ball', 'cat', 'dog']

In [10]:
a =['apple', 'ball', 'cat', 'dog']
a.remove('ball')
a

['apple', 'cat', 'dog']

In [11]:
a =['apple', 'ball', 'cat', 'dog', 'apple']
c = a.count("apple")
print(c)
if i in range(c):
    a.remove('apple')
print(a)

2
['ball', 'cat', 'dog', 'apple']

In [12]:
a =['apple', 'ball', 'cat', 'dog', 'apple']
b = a.pop(0)
print(a)
print(b)

['ball', 'cat', 'dog', 'apple']
apple

In [14]:
a =['apple', 'ball', 'cat', 'dog', 'apple']
l = len(a)
for i in range(l):
    if a[i] == 'apple':
        print(i)

0
4

In [16]:
a = ['apple', 'ball', 'cat', 'dog', 'apple']
a.index['ball']

TypeError: 'builtin_function_or_method' object is not subscriptable

In [17]:
a =['apple', 'ball', 'cat', 'dog', 'apple']
l = len(a)
i = 0
while i<1:
    print(a[i])
    i = i+1

apple

In [18]:
#list inside list
a =[[1,2,3], 
    [4,5,6],
    [7,8,9]]
print(type(a))
print(len(a))

<class 'list'>
3

In [19]:
print(a)
print(a[1])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[4, 5, 6]

In [6]:
#list inside list(how to create)
data = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    address = input("Enter address = ")
    data.append([name,age,address])
print(data)

Enter n = 2
Enter name = maya
Enter age = 30
Enter address = boudha
Enter name = rojina
Enter age = 20
Enter address = kathmandu
[['maya', 30, 'boudha'], ['rojina', 20, 'kathmandu']]

In [7]:
a = [['maya', 30, 'boudha'], ['rojina', 20, 'kathmandu']]
print(a[0])

['maya', 30, 'boudha']

In [9]:
#update
a = [['maya', 30, 'boudha'], ['rojina', 20, 'kathmandu']]
a[0] = ['maya', 12, 'nanchang']
a

[['maya', 12, 'nanchang'], ['rojina', 20, 'kathmandu']]

In [10]:
#update
a = [['maya', 30, 'boudha'], ['rojina', 20, 'kathmandu']]
a[0][0] = 'Ram'
a

[['Ram', 30, 'boudha'], ['rojina', 20, 'kathmandu']]

In [4]:
#search in list
a = ["ram", 'shyam', 'ram', 'shyam']
if "ram" in a:
    print("yes")
    print(a.count("ram"))

yes
2

In [11]:
#insert
a = [['maya', 30, 'boudha'], ['rojina', 20, 'kathmandu']]
a[0].insert(2, 9841529180)
a

[['maya', 30, 9841529180, 'boudha'], ['rojina', 20, 'kathmandu']]

In [2]:
#pop mean cut the value and paste in other place(move the value)
a = [['ram', 'kathamndu','45'], ['maya', 'boudha', 30]]
x = a.pop(0)
print(a)
print(x)

[['maya', 'boudha', 30]]
['ram', 'kathamndu', '45']

In [3]:
#search list (usefull one )
a = [['maya', 30, 'boudha'], ['rojina', 20, 'kathmandu']]
name = input("Enter name = ")
for i in a:
        print(i)

Enter name = maya
['maya', 30, 'boudha']
['rojina', 20, 'kathmandu']

In [2]:
#search in list inside list
a = [['maya', 30, 'boudha'], ['rojina', 20, 'kathmandu']]
name = input("Enter name = ")
for i in a:
    if name in i:
        print(i)

Enter name = maya
['maya', 30, 'boudha']

In [1]:
#search inside list
a = ["ram", "shyam", "maya"]
if "ram" in a:
    print("yes")
    print(a.count("ram"))

yes
1

In [6]:
a = [['maya', 30, 'boudha'], ['rojina', 20, 'kathmandu']]
name = input("Enter name = ")
for i in a:
    if name == i[0]:
        print(i)

Enter name = maya
['maya', 30, 'boudha']

In [8]:
c = 0
a = [['maya', 30, 'boudha'], ['rojina', 20, 'kathmandu']]
name = input("Enter name = ")
for i in a:
    if name == i[0]:
        print(i)
        c = c+1
if c==0:
    print("No result found")
else:
     print(c,"record found")

Enter name = s
No result found

In [ ]:
#tuple(no create, no update, no del remove(), pop())yes read by using loop and index
#indexing
#ordered
#duplicate and multiple
#imutable

In [9]:
a = (1,2,3,4)
print(type(a))

<class 'tuple'>